# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
requests
pandas
apache-airflow-providers-amazon==8.17.0
apache-airflow-providers-postgres==5.10.0